/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS Style */

/* Skip Links */

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.skip-links a {
    background-color: black;
    color: white;
    padding: .5em 1em;
    position: absolute;
    top: -3em;
}
  
.skip-links a:focus {
    top: 0;
}

/* Main Settings */

* {
    box-sizing: border-box;
}

html {
    background-color: #f3f0e9;
}

body {
    line-height: 20px;
}

p, a {
    font-family: "Karla", sans-serif;
}

h1, h2, h3, nav {
    font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-weight: bold;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
    margin-top: 20px;
    line-height: 30px;
}

p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

section {
    display: block;
}

nav {
    display: block;
}

.container {
    max-width: 1200px;
}

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

header {
    background-color: black;
}

/* Animation */

@keyframes changeColor {
	from {
		color: transparent;
	}

	to {
		color: white;
	}
}

.e.container {
    animation-name: changeColor;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

/* Mobile Screen */

/* Navigation */

.brand-nav {
    padding-left: 10px;
    padding-right: 10px;
}

.bn.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding-left: 10px;
}

.ilogo {
    padding-top: 23px;
    padding-bottom: 11px;
}

.navbar {
    padding-top: 0;
}

.navlink {
    font-size: .8rem;
    padding: 20px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: left;
}

.navlink:hover {
    color: #966f2c;
}

/* Explore Our Menu with background image and opacity */

.explore {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/hero-background.jpg);
    background-position: 0,0,50%,45%;
    background-size: auto, cover;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e.container {
    max-width: 85%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 900;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.e-par {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}

p{
    margin-top: 0;
    margin-bottom: 10px;
}

.mbutton {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 15px 40px;
    font-weight: 800;
    cursor: pointer;
}

.mbutton:hover {
    color: white;
    background-color: #966f2c;
}

/* Welcome to my coffee house and five images */

.welcome {
    padding: 80px 10px;
    padding-bottom: 0;
}

.orange-left {
    color: #d69e3d;
    text-align: left;
    font-size: 1.2rem;
}

h2 {
    text-align: left;
    max-width: 600px;
    margin-top: 10px;
    line-height: 1.1;
}

.five-images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding-top: 20px;
}

.image-flex {
    grid-area: span 2 / span 2 / span 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* What We Offer and three SVG icons */

.offer {
    padding: 80px 10px;
}

.o.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.orange-center{
    color: #d69e3d;
    text-align: center;
}

.h2-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.icon-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.offer-flex {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.p-offer {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Menu and Locations section */

.menu-location {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../images/coffee-shop.jpeg);
    background-position-x: 0px,50%;
    background-position-y: 0px, center;
    background-size: auto, cover;
    padding: 80px 10px;
}

.ml.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-location-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
}

.our-menu {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.h2-wcenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.wcbutton {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid white;
    font-weight: 800;
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    line-height: inherit;
}

.wcbutton:hover {
    color: white;
    background-color: #966f2c;
}

.locations {
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
}

.tbutton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    font-weight: 800;
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    line-height: inherit;
}

.tbutton:hover {
    color: black;
    background-color: white;
}

/* About Us and Learn More button */

.story {
    display: block;
    padding: 80px 10px;
}

.s.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sflex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.pflex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bbutton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-weight: 800;
    margin-top: 8px;
    padding: 10px 30px;
}

.bbutton:hover {
    background-color: #966f2c;
}

/* Customer's Testimonials about our coffee */

.testimonials {
    display: block;
    background-color: black;
    padding: 80px 10px;
    padding-bottom: 0px;
}

.t.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h2-wleft {
    color: white;
}

.tgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-columns: 1fr;
    margin-top: 40px;
}

.tsec.t1 {
    color: white;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/testimonial-1.jpeg);
    background-position-x: 0px, 50%;
    background-position-y: 0px, center;
    background-size: auto, cover;
}

.tsec {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 480px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.tsec.t2 {
    color: white;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/testimonial-2.jpeg);
    background-position-x: 0px, 50%;
    background-position-y: 0px, 0px;
    background-size: auto, cover;
}

.tsec.t3 {
    color: white;
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/testimonial-3.jpeg);
    background-position-x: 0px, 0px;
    background-position-y: 0px, 0px;
    background-size: auto, cover;
}

/* Footerrrr */

footer {
    display: block;
    background-color: black;
    padding-bottom: 40px;
    padding: 80px 10px;
}

.f.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(255, 255, 255, .26);
}

.ftr {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* Tablet Screen */

@media screen and (min-width: 768px) {

/* Main Settings for tablet */

    h1 {
        font-size: 2.986rem;
    }

    h2 {
        font-size: 2.488rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    p {
        font-size: 1rem;
    }

/* Navigation adjustments for tablet */

    .brand-nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar {
        padding-top: 0;
    }

/* Explore our Menu adjustments for tablet */

    .explore {
        height: 500px;
    }

    .e.container {
        max-width: 728px;
    }

/* Welcome to my coffee house adjustments for tablet */

    .welcome {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .w.container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .five-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

/* what we offer adjustments for tablet */

    .offer {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .p-offer.p-half {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

/* menu and locations adjustments for tablet */

    .menu-location {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-location-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .locations {
        color: white;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

/* about us adjustments for tablet */

    .story {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .bbutton {
        padding: 15px 40px;
    }

/* user's testimonials adjustments for tablet */

    .testimonials {
        padding-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

/* footer adjustments for tablet */

    footer {
        padding-top: 120px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Desktop Screen */

@media screen and (min-width: 1100px) {

/* Main settings for desktop */

    h1 {
        font-size: 3.815rem;
    }

    h2 {
        font-size: 3.052rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    p {
        font-size: 1rem;
    }

/* Navigation adjustments for desktop */

    .bn.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .brand-nav {
        padding-left: 40px;
        padding-right: 40px;
    }

    .ilogo {
        padding-top: 20px;
    }

/* Explore our menu adjustments for desktop */

    .explore {
        height: 100vh;
    }

    .e.container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    .eh1 {
        max-width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .e-par {
        max-width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

/* Welcome to my coffee house adjustments for desktop */

    .welcome {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0px;
    }

/* What we offer adjustments for desktop */

    .offer {
        padding: 120px 40px;
    }

    .p-offer {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .p-offer.p-half {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

/* menu and locations adjustments for desktop */

    .menu-location {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;
    }

/* About us adjustments for desktop */

    .story {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;
    }

/* customer's testimonials adjustments for desktop */

    .testimonials {
        padding-top: 120px;
        padding-left: 40px;
        padding-right: 40px;
    }

/* footer adjustments for desktop */

    footer {
        padding-top: 120px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
}